
body {
  box-sizing: border-box;
  color: #323232;
  font-family: 'PT Serif', serif;
  margin: 0;
}

nav {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 1rem;
}

.batman {
  padding-top: 2rem;
  margin-top: 1rem;
  position: relative;
  color: white;

  background-image: url("../images/kats-hero-mobile-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.cathero {
  margin: auto;
  position: relative;
  z-index: 1;
  bottom: -5px;
}

.absolute {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 25%;
  width: 100%;
  line-height: 1;
}


.find-the {
  display: flex;
  align-content: flex-start;
}

.purr {
  font-size: 3em;
  font-style: italic;
  font-weight: bold;
}

.costume {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;

}

h2 {
  font-size: 1.9rem;
  margin-top: 10%;
}

p {
  text-align: justify;
  line-height: 2.5rem;
  margin: 0 2rem 2rem;
  font-size: 1.35rem;
}

h3 {
  color: #00897F;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.get-in {
  display: none;
}

.background {
  background-color: #eeeeee;
  padding: 1rem 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #00897F;
  height: 7rem;
  font-size: 1.4rem;
}

.headingfont {
   font-family: 'PT Sans Narrow', sans-serif;
   text-align: center;
  }

.center {
  display: flex;
  justify-content: center;
}

.dracula-cat {
  border-radius: 100%;
  padding: 3rem;
  width: 100%;
  height: 100%;
}

.boldcaps {
  text-transform: uppercase;
  font-weight: bold;
}

.address {
  color: #f26522;
  font-weight: bold;
  display: inline-flex;
  justify-content: flex-end;
}

.map {
display: flex;
justify-content: center;
overflow-x: hidden;
}




/* On devices wider than 660px */
@media(min-width: 420px) {
  .get-in {
    display: flex;
    justify-content: center;}

}






/* On devices wider than 940px */
@media(min-width: 940px) {
  .hours {
    background-color: white;}

  .contact {
    background-color: white;}

  .background {
    display: flex;
    justify-content: center;
  }
}
