
body {
  margin: 0;
  box-sizing: border-box;
  color: #323232;
  font-family: 'PT Serif', serif;
}

nav {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

h1 {
  display: flex;
  flex-flow: column;

  color: white;
  background-image: url("../images/kats-hero-mobile-bg.jpg");
  background-size: auto;
}

/* On devices wider than 660px */
@media(min-width: 660px) {
}

/* On devices wider than 940px */
@media(min-width: 940px) {
}
